services:
  vekolom:
    build:
      context: .
      target: prod

    healthcheck:
      test: [ "CMD-SHELL", "curl -fsS http://127.0.0.1:${APP_PORT}/health || exit 1" ]
      interval: 30s
      timeout: 3s
      retries: 5

    networks:
      - default
      - vekolom-service-network

    command: >
      bash -lc "
      uv run --no-sync gunicorn
        -k uvicorn.workers.UvicornWorker
        -w {GUNICORN_WORKERS}
        -b ${APP_HOST}:${APP_PORT}
        --timeout ${GUNICORN_TIMEOUT}
        --graceful-timeout ${GUNICORN_GRACEFUL_TIMEOUT}
        'app.main:app'
      "

networks:
  default:
    driver: bridge

  vekolom-service-network:
    name: vekolom-service-network
    external: true