services:
  vekolom:
    build:
      context: .
      target: dev
    command: "uv run --no-sync uvicorn app.main:app --host ${APP_HOST} --port ${APP_PORT} --reload"
    volumes:
      - ./:/vekolom
    networks:
      - default
      - vekolom-service-network

networks:
  default:
    driver: bridge

  vekolom-service-network:
    name: vekolom-service-network
    external: true